body {
    height: 100vh;
    display: flex;
}

.side-panel {
    flex-direction: column;
    align-content: center;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
}

#main-map {
    flex-grow: 1;
}
.map-control-clown {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.mapboxgl-popup{
    z-index: 10;
}
.mapboxgl-popup-content{
    background-color: #17a2b8;
    border-radius: 15px;
}
.new-popup-event{
    padding: 5px;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
} .new-popup-event > p {
    padding: 5px;
    font-size: large;
  }
  .new-popup-event > ol > li {
      padding: 5px;
      font-size: small;
  }
.mapboxgl-popup-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: xx-large;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
}
